
*{
  padding: 0;
  margin: 0;
}
body{
  background: rgb(0, 0, 0);
}
#box{
  width: 40%;
  height: 250px;
  margin: 0 auto;
}
.entrada{
  width: 90%;
  height: 40px;
  float: left;
  margin-left: 5%;
  border:0;
  border-radius:6px;
  margin-top: 30px;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:1.2em;
  text-align: center;
}

input[type=text]{
  background: #333;
  color:rgb(255, 255, 255);
}
#box2{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:1.2em;
  color:333;
  width: 50%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
}